body {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rgb(117,1,109);
    background: linear-gradient(90deg, rgba(117,1,109,0.8015581232492998) 45%, rgba(36,2,37,0.39539565826330536) 100%);
  }
  
  .container {
    text-align: center;
    background: #fff;
    padding: 20px 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .captch_box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .captch_box input {
    border: 2px solid #ccc;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    width: 150px;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .captch_box button {
    background: #826afb;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .captch_box button:hover {
    background: #684ed9;
  }
  
  .captch_input input {
    border: 2px solid #ccc;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    width: 200px;
    border-radius: 4px;
  }
  
  .button {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background: #826afb;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button.disabled {
    background: #ccc;
    cursor: not-allowed;
  }
  
  .message {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
  }